**/__pycache__/** 
**/migrations/**
*.db
*.sqlite3
.env
**/logs/**

**/node_modules/**

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
